/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  outline: 2px solid black;
background: rgb(0,153,148);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  outline: 2px solid black;
  padding: 20px;
  min-height: 100vh; height of the browser viewport
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* .navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;

} */
/* 
.navbar links{
 justify-content: center;
} */

/* 
.homePage{
  background-color: #009994
} */

/* .Main-app{
    outline: 2px solid black;

} */
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
section{
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
/* Color Theme Swatches in Hex */
.Mercedes-Petronas-F1-1-hex { color: #979DA6; }
.Mercedes-Petronas-F1-2-hex { color: #6c7679; }
.Mercedes-Petronas-F1-3-hex { color: #027373; }
.Mercedes-Petronas-F1-4-hex { color: #04BFAD; }
.Mercedes-Petronas-F1-5-hex { color: #0E0F13; }
/* Color Theme Swatches in Hex */
.Mercedes-AMG-Petronas-1-hex { color: #FFFFFF; }
.Mercedes-AMG-Petronas-2-hex { color: #009994; }
.Mercedes-AMG-Petronas-3-hex { color: #abc0cc; }
.Mercedes-AMG-Petronas-4-hex { color: #000000; }
.Mercedes-AMG-Petronas-5-hex { color: #FFFFFF; }
}

.App{
  outline: 2px solid black;
  /* background-color: #EBECEE; */
  height: 100vh;
  /* margin-left:20px;
  margin-right:20px; */
}

.Unauth{
  outline: 2px dashed red;
  height: 100vh;
  /* background-color: #EBECEE; */
;

  /* margin-left:20px;
  margin-right:20px; */
  /* height: 200px; */
}

.Unauth-landing{
  display: flex;
  height: 91.5vh;
  flex-direction: column;
  justify-content: center;
  align-content: center; 
  align-items: center;
  margin: auto;
  /* background-color: #4D565B; */

  /* outline: 2px solid yellow; */
}

.Unauth-box{
  /* outline: 2px dotted blue; */

}

.Unauth-button-container{
    display: flex;
    /* outline: 2px inset black; */
    flex-basis: auto;
}
.Auth{
  /* outline: 2px dashed red; */
  height: 100vh;
  /* background-color: #EBECEE; */
;

  /* margin-left:20px;
  margin-right:20px; */
  /* height: 200px; */
}

.Auth-landing{
  display: flex;
  height: 91.5vh;
  flex-direction: column;
  justify-content: center;
  align-content: center; 
  align-items: center;
  margin: auto;
  /* background-color: #EBECEE; */


  /* outline: 2px solid green; */
}

.Auth-box{
  /* outline: 2px dotted purple; */

}

.Auth-button-container{
    display: flex;
    /* outline: 2px inset orange; */
    flex-basis: auto;
}
.services{
  height: 100vh;
  padding-top: 5rem;

}
img{
  padding-bottom: 3rem;
} 

